:80 {
    handle_path /api/* {
        uri strip_prefix /api
        reverse_proxy api:8000
    }

    handle_path /data/* {
        root * /srv/data
        file_server
    }

    root * /srv
    file_server
}
